html {
    /*background-image: linear-gradient(rgba(250, 250, 250, 0), rgb(255, 255, 255) 180%),url();
    position: absolute;
    margin: 0px;
    padding: 0px;
    border: none;
    width: 1690px;
    height: 100%;
    max-height: none;
    max-width: none;
    z-index: -999999;
    left: 0px;
    top: -274.333px;*/
}