.Login-Page{
    width: 400px;
    padding: 10% 0 0;
    margin: auto;
}

.form{
    position: relative;
    z-index: 1;
    background: rgba(0,0,0,0.5);
    max-width: 400px;
    padding: 45px;
    text-align: center;
    border-radius: 15px;
}

.form input{
    font-family: "Roboto", "sans-serif";
    background: aliceblue;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.form p {
    margin-bottom: 0;
    color: #FFFFFF;
}

.form .Registrer-form{
    display: none;
}

.form-header{
    margin-top: 0;
    color: white;
    font-family: "Roboto", "sans-serif";
}

.submit-txt {
    color: white;
    text-decoration: none;
}

.button {
    outline: 0;
    width: 50% !important;
    border: 0;
    padding: 12px;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
    background-color: rgba(30,144,255,0.6) !important;
    border-radius: 7px;
}

.button:hover{
    background-color: #1E90FF !important;
}

.tab{
    font-size: 31px;
    list-style-type: none;
    padding: 14px;
    margin-bottom: 20px;
    border-radius: 14px;
}

.tab a {
    color: white;
    text-decoration: none;
}

.login-active{
    background: #1E90FF;
}

.tab:hover{
    background: #1E90FF;
}
