.backgroundimage{

    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    -webkit-filter: blur(4px);
    width: 100%;
    height: 500px;
    background-size: cover;
    position:relative;
}

.coverimage{
    display: block;
    width: 100%;
    height: 100%;
    max-height: 320px;
    max-width: 285px;
    vertical-align: middle;
    position: absolute;
    top: 480px;
    border-radius: 20px;
    margin: 0px 0px 0px 120px;
}

.intro-info{
    margin: 0px 0px 0px 400px;
}

.gametitle{
    color: #FFFFFF;
    margin: 20px;
}

.shortgameinfo{
    color: #FFFFFF;
    margin: 20px;
}

.gamedatahead{
    color: #FFFFFF;
}

.dataoutput{
    width: 300px;
    height: 18px;
    border-radius: 5px;
    margin: 0px 0px 0px 0px;

}

.gamedescout{
    resize: none;
    width: 100%;
    max-width: 500px;
}
.containerout{
    padding: 20px;
    background-color: rgba(255,255,255,0.2);
    border-radius: 4px;
    width: 550px;
    margin: 0px 0px 20px 120px;
}

.singlecontainer{
    display: block;
}

.groupcontainer{
    width: 100%;
    max-width: 1270px;
    padding: 20px;
    background-color: rgba(255,255,255,0.2);
    margin: 0px 0px 20px 120px;
}

.individualcontainer{
    width: 100%;
    max-width: 598px;
    padding: 20px;
    background-color: rgba(255,255,255,0.2);
    margin: 0px 0px 20px 120px;
    display: inline-block;
}

.piclist{
    margin: 0px 0px 19px 50px;
    padding: 0px 0px 0px 20px;
    width: 650px;
}
.vidlist{
    margin: 0px 0px 19px 50px;
    padding: 0px 0px 0px 20px;
    width: 650px;
}
.intro-ul{
    padding: 0px 0px 0px 0px;
    display: flex;
}
.infowrapper{
    display: inline;
}

.actorslist{
    width: 100%;
    max-width: 1270px;
}

.list-container{
    display: block;

}

.gamewriter{
    margin: 0px 100px 0px 0px;
}

.gamecomposer{
    margin: 0px 100px 0px 0px;
}

.gamepublisher{
    margin: 0px 0px 20px 30px;
}

.info-list{
    list-style-type: none;
    display: inline-block;
    max-width: 400px;
    margin: 0px 0px 40px 0px;
}

.infopic{
    width: 100%;
    height: 100%;
    max-height: 100px;
    max-width: 90px;
    margin: 0px 0px 0px 100px;
}

.gameactordate{
    width: 90px;
    margin: 5px 0px 0px 100px;
}

.singlewrapper{
    margin: 0px 0px 0px 20px;
}

.underheader{
    color: #FFFFFF;
}