

#headerarticle{
    margin: 0px 0px 0px 210px;
    color:#FFFFFF;
}

/*!--------------------------------Title---------------------------------------------!*/
#titleInput {
    background-color: rgb(47, 111, 181);
    padding: 30px;
    border-radius: 14px;
}

#headertitle{
    margin: 0px 0px 0px 20px;
    color:#FFFFFF;
}

#titlefield{
    border-radius: 14px;
    padding: 5px 0px 5px 20px;
    background-color: #cccccc;
    margin: 0px 0px 0px 100px;
    width: 100%;
    max-width: 350px;
}

/*!--------------------------------Release date---------------------------------------!*/

#headerRD{
    margin: 20px 0px 0px 20px;
    color:#FFFFFF;
}

.release-list {
    display: flex;
    list-style-type: none;
}


.dateInput{
    border-radius: 14px;
    width: 100%;
    max-width: 140px;
    box-sizing: border-box;
    padding: 5px 0px 5px 20px;
    background-color: #cccccc;
    margin: 10px 0px 0px 100px;
}
/*!--------------------------------Media details--------------------------------------!*/
#headerMedia{
    margin: 20px 0px 0px 20px;
    color:#FFFFFF;
}

#mediaInput{
    background-color: rgb(47, 111, 181);
    padding: 30px;
    border-radius: 14px;
}

#picturefield{
    border-radius: 14px;
    padding: 5px 0px 5px 20px;
    background-color: #cccccc;
    margin: 0px 0px 0px 100px;
    width: 100%;
    max-width: 350px;
}

.media-list{
    display: inline;
    list-style-type: none;
}

.media-headers{
    color:#FFFFFF;
    padding: 0px 0px 0px 0px;
    margin: 10px 0px 5px 0px;
}

.media-input{
    border-radius: 14px;
    padding: 5px 0px 5px 20px;
    background-color: #cccccc;
    margin: 0px 0px 0px 100px;
    width: 100%;
    max-width: 350px;
}

.btn-add-row8{
    float: right;
}

.btn-add-row9{
    float: right;
}

.btn-remove-row5{
    float: right;
}

.btn-remove-row7{
    float: right;
}

.btn-remove-row{
    float: right;
}

.btn-remove-row6{
    float: right;
}

.btn-remove-row8{
    float: right;
}

.btn-remove-row9{
    float: right;
}

.btn-remove-row11{
    float: right;
}

.btn-remove-row2{
     float: right;
}

.btn-remove-row3{
    float: right;
}

.add-button{
    float: right;
}

.row8{
    padding: 0px 0px 10px 100px;
}

.row9{
    padding: 0px 0px 10px 100px;
}

.row9 {
    padding: 0px 0px 10px 100px;
}
.row10{
    padding: 0px 0px 10px 100px;
}



/*!--------------------------------Art details--------------------------------------!*/

#headerArt{
    margin: 20px 0px 0px 20px;
    color:#FFFFFF;
}

#artInput{
    background-color: rgb(47, 111, 181);
    padding: 30px;
    border-radius: 14px;
}

.btn-add-row4{
    float: right;
}

.btn-add-row5{
    float: right;
}

.btn-add-row6{
    float: right;
}

.btn-add-row7{
    float: right;
}

.row4{
    padding: 0px 0px 10px 100px;
}

.row5{
    padding: 0px 0px 10px 100px;
}

.row6{
    padding: 0px 0px 10px 100px;
}

.row7{
    padding: 0px 0px 10px 100px;
}

/*!--------------------------------Company details--------------------------------------!*/

#companyInput{
    background-color: rgb(47, 111, 181);
    padding: 30px;
    border-radius: 14px;
}

#headercompany{
    margin: 20px 0px 30px 20px;
    color:#FFFFFF;
}

.headercompanylist{
    color:#FFFFFF;
    padding: 0px 0px 0px 0px;
    margin: 10px 0px 5px 0px;
}

.companylist{
    display: inline;
    list-style-type: none;
}
#art-list{
    width: 100%;
    max-sizing: 400px;
}

.companyText{
    border-radius: 14px;
    padding: 5px 0px 5px 20px;
    background-color: #cccccc;
    margin: 10px 0px 0px 70px;
    width: 100%;
    max-width: 300px;
}
/*!--------------------------------Publisher details---------------------------------------!*/
#publisherInput{
    background-color: rgb(47, 111, 181);
    padding: 30px;
    border-radius: 14px;
}

.introheader{
    margin: 20px 0px 30px 20px;
    color:#FFFFFF;
}

/*!--------------------------------Actor & Platform---------------------------------------!*/
#actorInput {
    background-color: rgb(47, 111, 181);
    padding: 30px;
    border-radius: 14px;
}

#platformInput{
    background-color: rgb(47, 111, 181);
    padding: 30px;
    border-radius: 14px;
}

#genreInput{
    background-color: rgb(47, 111, 181);
    padding: 30px;
    border-radius: 14px;
}

#headeractor{
    margin: 0px 0px 0px 20px;
    color:#FFFFFF;
}

#headerplatform{
    margin: 0px 0px 0px 20px;
    color:#FFFFFF;
}

#headergenre{
    margin: 0px 0px 0px 20px;
    color:#FFFFFF;
}

#actorfields{
    border-radius: 14px;
    padding: 5px 0px 5px 20px;
    background-color: #cccccc;
    width: 100%;
    max-width: 300px;

}

/*----Buttons----*/

.list-rows{
    padding: 0px 0px 10px 100px;
}

.row{
    padding: 0px 0px 10px 100px;
}

.row2{
    padding: 0px 0px 10px 100px;
}

.row3{
    padding: 0px 0px 10px 100px;
}

.btn-add-row{
    float: right;
}

.btn-add-row2
{
    float: right;
}

.btn-add-row3{
    float: right;
}

.element-wrapper{
    margin: 0px 0px 0px 0px;
}
.element-wrapper2{
    margin: 0px 0px 0px 0px;
}

.element-wrapper3{
    margin: 0px 0px 0px 0px;
}



/*!--------------------------------Character------------------------------------------------!*/
#charInput{
    background-color: rgb(47, 111, 181);
    padding: 30px;
    border-radius: 14px;
}



/*!--------------------------------developers--------------------------------!*/
#developerInput{
    background-color: rgb(47, 111, 181);
    padding: 30px;
    border-radius: 14px;
}



/*!--------------------------------Game Description--------------------------------!*/
#gamedescInput{
    background-color: rgb(47, 111, 181);
    padding: 30px;
    border-radius: 14px;
}

#headergameDesc{
    margin: 0px 0px 10px 20px;
    color:#FFFFFF;
}

#gameDescfield{
    resize: none;
    background-color: #cccccc;
    width: 100%;
    max-width: 1000px;
}

/*!--------------------------------Game Description--------------------------------!*/
#save-article{
    padding: 10px 10px 10px 10px;
}