.backgroundimage{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    -webkit-filter: blur(4px);
    width: 100%;
    height: 500px;
    background-size: cover;
    position:relative;
}

.coverimage{
    display: block;
    width: 100%;
    height: 100%;
    max-height: 320px;
    max-width: 285px;
    vertical-align: middle;
    position: absolute;
    top: 480px;
    border-radius: 20px;
    margin: 0px 0px 0px 120px;
}

.intro-info{
    margin: 0px 0px 0px 400px;
}

.gametitle{
    color: #FFFFFF;
    margin: 20px;
}

.shortgameinfo{
    color: #FFFFFF;
    margin: 20px;
}

.gamedatahead{
    color: #FFFFFF;
    width: 100%;
    margin: 0;
    margin: 10px;
}

.dataoutput{
    text-align: center;
    max-width: 300px;
    height: 18px;
    border-radius: 5px;
    margin: 0px 0px 0px 0px;
    background: none;
    border: 2px solid #407bb591;
    outline: none;
    font-size: 16px;
    padding: 5px;
    color: white;
}

.gamedescout{
    resize: none;
    width: 100%;
    height: 90%;
    margin: auto;
}

.gamegenreout{
    resize: none;
    width: 100%;
    height: 90%;
}

.gameplatformout{
    resize: none;
    width: 100%;
    max-width: 300px;
    height: 90%;
}


.containerout{
    padding: 20px;
    background-color: rgba(255,255,255,0.2);
    border-radius: 4px;
    margin: 10px;
    width: 100%;
    height: 320px;
}

.singlecontainer{
    width: 74%;
    margin: auto;
    display: flex;
}

.groupcontainer{
    width: 70%;
    padding: 20px;
    background-color: rgba(255,255,255,0.2);
    margin: 10px auto;
}

.individualcontainer{
    padding: 20px;
    background-color: rgba(255,255,255,0.2);
    margin: 10px;
    width: 100%;
}

.intro-ul{
    display: flex;
    width: 70%;
    margin: 10px auto;
}
.infowrapper{
    display: inline;
    width: 100%;
}

.list-container{
    display: block;
}

.gamewriter{
    margin: 0px 100px 0px 0px;
}

.gamecomposer{
    margin: 0px 100px 0px 0px;
}

.info-list{
    list-style-type: none;
    display: inline-block;
    max-width: 400px;
    width: 300px;
}

.infopic{
    width: 100%;
    height: 100%;
    max-height: 100px;
    max-width: 90px;
    margin-left: 20%
}

.gameactordate{
    width: 90px;
    margin-left: 15%;
    margin-top: 4px;
}

.underheader{
    color: #FFFFFF;
}

.img-container{
    height: 200px;
    margin-bottom: 20px;
}

.vid-container{
    height: 200px;
    margin-bottom: 20px;
}

.slideshow-container iframe{
    height: 100%;
    width: 100%;
}
.slideshow-container{
    display: block;
}

.editbtn{
    float: right;
    border: 1px solid #59adff91;
    background: coral;
    padding: 14px;
    color: white;
    border-radius: 6px;
}

textarea{
    background: none;
    border: 0;
    outline: none;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #F5F5F5;
    border-radius: 10px;
}


::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.gameST{
    width: 100%;
    height: 100%;
    min-height: 292px;
}

.listgameST{
    margin:0px 0px 0px 0px;
}

.top-container{
    width: 100%;
    overflow: hidden;
    position: relative;
    height: 90%;
}

.verticalGameInfo{
    height: 100%;
    width: 40%;
}