.CTGC{
    text-align: center;
}

.CTGC a{
    text-decoration: none;
    color: white;
}

.CTGC-H h2{
    display: inline-block;
    margin: 0px 0px 20px 0px;
}

.CTGC-container{
    font-size: 20px;
    margin-bottom: 20px;
}


.CTGC-GN{
    display: inline-block;
    float: left;
}

.CTGC-UN{
    display: inline-block;
}


.CTGC-DoC{
    display: inline-block;
    float: right;
}

/*
//Lavet af gruppe 24 til CDIO Final - Specialopgave
//Medlemmer af gruppe 24:
//Simon Andersen (s185083), Asama Hayder(s185099), Jákup Viljam Dam(s185095), Christoffer Adrian Detlef(s185117) & Thaer Almalla(s170727)
*/