/*Container in the middel */
.LR-Container{
    width: 400px;
    padding: 10%;
    margin: auto;
}
/*The information inside the container, held by a form */
.form{
    position: relative;
    z-index: 1;
    background: rgba(0,0,0,0.5);
    max-width: 400px;
    padding: 45px;
    text-align: center;
    border-radius: 15px;
}

.form input{
    width: 100%;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
}

.form .Registrer-form{
    display: none;
}

.logRegBtn{
    color: white;
    text-decoration: none;
}

.tab{
    font-size: 31px;
    list-style-type: none;
    padding: 14px;
    margin-bottom: 20px;
    border-radius: 14px;
}

.login-tab{
    background: #1E90FF;
}

/*
//Lavet af gruppe 24 til CDIO Final - Specialopgave
//Medlemmer af gruppe 24:
//Simon Andersen (s185083), Asama Hayder(s185099), Jákup Viljam Dam(s185095), Christoffer Adrian Detlef(s185117) & Thaer Almalla(s170727)
*/