/*---------------------General START---------------------*/
body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("https://imgur.com/0WPs2In.png");
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;
}

.container{
    padding: 20px;
    margin: 20px 200px 0 200px;
    background-color: rgba(255,255,255,0.2);
    border-radius: 4px;
}

h2{
    color: #FFFFFF;
    left: 275px;
    margin: 20px;
}

button{
    border: 0;
    outline: 0;
    cursor: pointer;
}
/*---------------------General END---------------------*/
/*---------------------Slideshow START---------------------*/
.slideImages{
    cursor: pointer;
}

.top-container{
    width: 60%;
    margin: auto;
    height: 400px;
    overflow: hidden;
    position: relative;
}

.slideshow-container{
    display: flex;
    height: 100%;
}

.slideshow-container img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.top-container button{
    position: absolute;
    top: 50%;
    z-index: 999999999;
    font-size: 20px;
    color: white;
    cursor: pointer;
    opacity: 0.7;
    border: 0;
    border-radius: 10px;
    outline: 0;
    padding: 9px 9px 9px 9px;
}

.top-container button:hover{
    background-color: grey;
    opacity: 1;
}

#prevBtn{
    left: 2%;
}

#nextBtn{
    right: 2%;
}
/*---------------------Slideshow END---------------------*/
.article-container{
    display: flex;
    position: center;
}

.article{
    position: center;
    background-color: rgba(0,0,0,0.2);
    width: 550px;
    height: 250px;
    margin: 40px auto;
    border: 5px solid cornflowerblue;
    border-radius: 15px;
}

.one h3{
    color: rgba(255,255,255,1);
    margin: 20px 0px 0px 30px;
}

.one img{
    width: 20%;
    float: right;
    margin: 20px 20px 0px 0px;
    border-radius: 15px;
}

.one p{
    color: rgba(255,255,255,0.8);
    margin: 20px 0px 0px 30px;
    width: 350px;
}

.two h3{
    color: rgba(255,255,255,1);
    margin: 20px 0px 0px 30px;
}

.two img {
    width: 20%;
    float: right;
    margin: 20px 20px 0px 0px;
    border-radius: 15px;
}

.two p{
    color: rgba(255,255,255,0.8);
    margin: 20px 0px 0px 30px;
    width: 350px;
}

.three h3{
    color: rgba(255,255,255,1);
    margin: 20px 0px 0px 30px;

}

.three img{
    width: 20%;
    float: right;
    margin: 20px 20px 0px 0px;
    border-radius: 15px;
}

.three p{
    color: rgba(255,255,255,0.8);
    margin: 20px 0px 0px 30px;
    width: 350px;
}

.four h3{
    color: rgba(255,255,255,1);
    margin: 20px 0px 0px 30px;
}

.four img {
    width: 20%;
    float: right;
    margin: 20px 20px 0px 0px;
    border-radius: 15px;
}

.four p{
    color: rgba(255,255,255,0.8);
    position: absolute;
    margin: 20px 0px 0px 30px;
    width: 350px;
}

.articleTextArea{
    resize: none;
    width: 95%;
    height: 90%;
    background: none;
    border: 0;
    outline: none;
    padding: 10px;
}

.divTextArea{
    width: 75%;
    height: 80%;
}

/* ------------------ Submit button START ------------------*/
.submit {
    width: 50% !important;
    border: 0;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
    background-color: rgba(30,144,255,0.6);
    border-radius: 4px;
    padding: 15px;
}

.submit:hover{
    background-color: #1E90FF !important;
}
/* ------------------ Submit button END ------------------*/

/* ------------------ Scrollbar custom START ------------------ */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #F5F5F5;
    border-radius: 10px;
}


::-webkit-scrollbar-thumb:hover {
    background: #555;
}
/* ------------------ Scrollbar custom END ------------------ */

/*
//Lavet af gruppe 24 til CDIO Final - Specialopgave
//Medlemmer af gruppe 24:
//Simon Andersen (s185083), Asama Hayder(s185099), Jákup Viljam Dam(s185095), Christoffer Adrian Detlef(s185117) & Thaer Almalla(s170727)
*/