body{
    margin:10px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("../Pictures/Background.jpg");
    z-index: -999999;
    left: 0px;
    top: -320px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.standart-nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background: rgba(0,0,0,0.5);
    border-radius: 15px;
}

.navigation-list{
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

.navigation-list li{
    list-style-type: none;
    display: inline-block;
}

.not-active {
    padding: 20px;
    border-radius: 14px;
}
.not-active:hover{
    background: #59adff91;
}
.navigation-list li a{
    color: #fff;
    text-decoration: none;
}

.logo{
    padding: 0px 50px;
    color: #FFFFFF;
    font-size: 22px;
}

.nav-active{
    background: #59adff91;
    padding: 20px;
    border-radius: 14px;
}

.nav-login{
    float:right;
    margin-right: 20px;
}
.interactive-logo{
    color:white;
    text-decoration: none;
}

h2{
    position: absolute;
    color: #FFFFFF;
    left: 275px;
    margin: 20px;
}

.container{
    padding: 20px;
    margin-top: 20px;
    margin-left: 200px;
    margin-right: 200px;
    background-color: rgba(255,255,255,0.2);
    border-radius: 14px;
}

.slideshow-container{
    width: 60%;
    margin: auto;
    position: center;
    overflow: hidden;
}

.slideshow-slide{
    position: center;
    width: 100%;
    margin: auto;
}
.article-container{
    display: flex;
    position: center;
}
.article{
    position: center;
    background-color: rgba(0,0,0,0.2);
    width: 550px;
    height: 250px;
    margin: 40px auto;
    border: 5px solid cornflowerblue;
    border-radius: 15px;
}
.one h3{
    color: rgba(255,255,255,1);
    margin: 20px 0px 0px 30px;
}

.one img{
    width: 20%;
    float: right;
    margin: 20px 20px 0px 0px;
    border-radius: 15px;
}

.one p{
    color: rgba(255,255,255,0.8);
    margin: 20px 0px 0px 30px;
    width: 350px;
}

.two h3{
    color: rgba(255,255,255,1);
    margin: 20px 0px 0px 30px;
}

.two img {
    width: 20%;
    float: right;
    margin: 20px 20px 0px 0px;
    border-radius: 15px;
}

.two p{
    color: rgba(255,255,255,0.8);
    margin: 20px 0px 0px 30px;
    width: 350px;
}

.three h3{
    color: rgba(255,255,255,1);
    margin: 20px 0px 0px 30px;

}

.three img{
    width: 20%;
    float: right;
    margin: 20px 20px 0px 0px;
    border-radius: 15px;
}

.three p{
    color: rgba(255,255,255,0.8);
    margin: 20px 0px 0px 30px;
    width: 350px;
}

.four h3{
    color: rgba(255,255,255,1);
    margin: 20px 0px 0px 30px;
}

.four img {
    width: 20%;
    float: right;
    margin: 20px 20px 0px 0px;
    border-radius: 15px;
}

.four p{
    color: rgba(255,255,255,0.8);
    position: absolute;
    margin: 20px 0px 0px 30px;
    width: 350px;

}
