/* General START*/
body{
    margin:10px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("https://imgur.com/0WPs2In.png");
    z-index: -999999;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;
}

h2{
    color: #FFFFFF;
    left: 275px;
    margin: 20px;
}
/* Body END*/
/* Nav-bar START*/
.standart-nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background: rgba(0,0,0,0.5);
    border-radius: 15px;
}

.navigation-list{
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

.navigation-list li{
    list-style-type: none;
    display: inline-block;
}

.not-active {
    padding: 20px;
    border-radius: 14px;
    color: #fff;
    text-decoration: none;
    display: block;

}
.not-active:hover{
    background: #59adff91;
}

.logo{
    padding: 0px 50px;
    color: #FFFFFF;
    font-size: 22px;
}

.nav-active{
    background: #59adff91;
    padding: 20px;
    border-radius: 14px;
    color: white;
    text-decoration: none;
}

.nav-login{
    float:right;
    margin-right: 20px;
    margin-top: 6px;
}
.interactive-logo{
    color:white;
    text-decoration: none;
}

.navLinks{
    float: right;
    margin-top: 6px;
    margin-right: 10px;
    cursor: pointer;
}

.createArticle{
    background-color: coral;
    padding: 20px;
    border-radius: 14px;
    color: #fff;
    text-decoration: none;
    display: block;
}

.createArticle:hover{
    background-color: rgb(252, 96, 40);
}

.searchBar{
    font: inherit;
    width: 30%;
    border: 0;
    height: 1.8em;
    padding: 6px 0 7px 10px;
    margin: 10px 0px 0px 480px;
    box-sizing: content-box;
    background-color: #fafafa;
    -webkit-tap-highlight-color: transparent;
    border-radius: 4px;
}

.autocomplete{
    position: relative;
    display: inline-block;
}

#searchBar {
    display: inline;
}
/* Body END*/

.container{
    padding: 20px;
    margin: 20px 200px 0px 200px;
    background-color: rgba(255,255,255,0.2);
    border-radius: 4px;
}

.slideshow-container{
    width: 60%;
    margin: auto;
    position: center;
    overflow: hidden;
}

.slideshow-slide{
    height: 380px;
    width: 100%;
    margin: auto;
}
.article-container{
    display: flex;
    position: center;
}
.article{
    position: center;
    background-color: rgba(0,0,0,0.2);
    width: 550px;
    height: 250px;
    margin: 40px auto;
    border: 5px solid cornflowerblue;
    border-radius: 15px;
}
.one h3{
    color: rgba(255,255,255,1);
    margin: 20px 0px 0px 30px;
}

.one img{
    width: 20%;
    float: right;
    margin: 20px 20px 0px 0px;
    border-radius: 15px;
}

.one p{
    color: rgba(255,255,255,0.8);
    margin: 20px 0px 0px 30px;
    width: 350px;
}

.two h3{
    color: rgba(255,255,255,1);
    margin: 20px 0px 0px 30px;
}

.two img {
    width: 20%;
    float: right;
    margin: 20px 20px 0px 0px;
    border-radius: 15px;
}

.two p{
    color: rgba(255,255,255,0.8);
    margin: 20px 0px 0px 30px;
    width: 350px;
}

.three h3{
    color: rgba(255,255,255,1);
    margin: 20px 0px 0px 30px;

}

.three img{
    width: 20%;
    float: right;
    margin: 20px 20px 0px 0px;
    border-radius: 15px;
}

.three p{
    color: rgba(255,255,255,0.8);
    margin: 20px 0px 0px 30px;
    width: 350px;
}

.four h3{
    color: rgba(255,255,255,1);
    margin: 20px 0px 0px 30px;
}

.four img {
    width: 20%;
    float: right;
    margin: 20px 20px 0px 0px;
    border-radius: 15px;
}

.four p{
    color: rgba(255,255,255,0.8);
    position: absolute;
    margin: 20px 0px 0px 30px;
    width: 350px;

}

