.UL-H h2{
    display: inline-block;
}

.sul-1{
    border-radius: 4px;
    margin: 20px;
    border: 1px solid #194d7f91;
}

.uos-1 {
    padding: 20px;
    display: inline-block;
    background: transparent;
    border: 0;
    color: white;
}

.euos-1{
    padding: 14px;
    border-radius: 14px;
    background-color: red;
    float: right;
    margin: 8px 8px 0px 0px;
}

.promotoPermissions{
    padding: 14px;
    border-radius: 14px;
    background-color: lightgreen;
    float: right;
    margin: 8px 8px 0px 0px;
}

/*
//Lavet af gruppe 24 til CDIO Final - Specialopgave
//Medlemmer af gruppe 24:
//Simon Andersen (s185083), Asama Hayder(s185099), Jákup Viljam Dam(s185095), Christoffer Adrian Detlef(s185117) & Thaer Almalla(s170727)
*/