/*Profile part START*/
.container{
    margin-left: 350px;
    margin-right: 350px;
    padding-bottom: 80px;
}

.profile-container li{
    color: white;
    font-size: 28px;
}

.profile-container ul{
    float: right;
    list-style-type: none;
    width: 50%;
    height: 10px;
    margin: 0;
    padding: 0;
}

.profile-search{
    width: 80%;
    height: 320%;
    border-radius: 14px;
    padding: 0px 0px 0px 15px;
    border: 0;
}

input:focus {
    outline:none;
}

.button {
    background: coral;
    padding: 1em 2em;
    color: white;
    border: 0;
    margin: 10px 0px 0px 80px;
    border-radius: 11px;
    cursor: pointer;
}

.button:hover {
    background: rgb(252, 96, 40);
}

/*Profile part END*/

/*Avatar/picture START*/

#uploadedPicture, #avatarPicks {
    width: 177px;
    margin: 3px 3px 3px 50px;
    padding: 3px;
}

.avatar {
    margin: 3px !important;
}

.imageContainer{
    display: inline;
}

.avatar:hover {
    background-color: rgba(102, 102, 102, 0.5);
}

.selected{
    box-shadow:4px 12px 22px 4px #333;
}
/*Avatar/picture END*/

/*Modal START*/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #f4f4f4;
    margin: 20% auto;
    padding: 20px;
    width: 70%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2),0 7px 20px 0 rgba(0, 0, 0, 0.17);
    animation-name: openthemodal;
    animation-duration: 1s;
}

.closeBtn{
    color: #ccc;
    float: right;
    font-size: 30px;
}

.closeBtn:hover, .closeBtn:focus{
    color: black;
    text-decoration: none;
    cursor: pointer;
}

@keyframes openthemodal{
    from{opacity: 0;}
    to {opacity: 1;}
}
/*Modal END*/