.UL-H h2{
    display: inline-block;
}

.sul-1{
    /* background: rgba(255,255,255,0.2); */
    border-radius: 4px;
    margin: 20px;
    border: 1px solid #194d7f91;
}

.uos-1 {
    padding: 20px;
    display: inline-block;
    background: transparent;
    border: 0;
    color: white;
}

.euos-1{
    padding: 14px;
    border-radius: 14px;
    background-color: red;
    float: right;
    margin: 8px 8px 0px 0px;
}

.promotoPermissions{
    padding: 14px;
    border-radius: 14px;
    background-color: lightgreen;
    float: right;
    margin: 8px 8px 0px 0px;
}